html, body {
  font-family: 'helvetica neue', 'helvetica', 'pt sans', 'arial', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: #333;
}

h1 {
  font-size: 3 * $font-size;
  line-height: 1em * 2 / 3 * $ratio;
  margin-bottom: 1em / 3 * $ratio;
  font-weight: 700;
}

h2 {
  font-size: 2.25 * $font-size;
  line-height: 1em * 2 / 2.25 * $ratio;
  margin-bottom: 1em / 2.25 * $ratio;
  font-weight: 700;
}

h3 {
  font-size: 1.5 * $font-size;
  line-height: 1em / $ratio * $ratio;
  margin-bottom: 1em / 1.5 * $ratio;
  font-weight: 500;
}

h4 {
  font-size: 1.3125 * $font-size;
  line-height: 1em / 1.3125 * $ratio;
  margin-bottom: 1em / 1.3125 * $ratio;
  font-weight: 500;
}

h5 {
  font-size: 1.125 * $font-size;
  line-height: 1em / 1.125 * $ratio;
  margin-bottom: 1em / 1.125 * $ratio;
}

h6 {
  font-size: 1 * $font-size;
  line-height: 1em / 1 * $ratio;
  margin-bottom: 1em / 1 * $ratio;
}

p, ul, ol, dl, blockquote, label, a {
  font-size: 1 * $font-size;
  line-height: 1em/ 1 * $ratio;
  margin-bottom: 1em / 1 * $ratio;
  font-weight: 300;
}
    
    
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }

a, a:visited { outline: none; color: #439BBD; text-decoration: underline; }  
a:hover { outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }